:root {
  --color-body-bg: hsl(0, 0%, 4%);
  --color-fore-bg: hsl(0, 0%, 10%);
  --color-highlight-bg: hsl(0, 0%, 14%);
  --color-text-heading: hsl(0, 0%, 95%);
  --color-text-p: hsl(0, 0%, 70%);
  --color-accent: hsl(210, 100%, 56%);
  --color-border: hsl(0, 0%, 50%);
}

body {
  background-color: var(--color-body-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-heading);
}

p,
a,
button,
span,
ul {
  color: var(--color-text-p);
}
