$page-padding--left: max(env(safe-area-inset-left), 32px);
$page-padding--right: max(env(safe-area-inset-right), 32px);

@mixin flex-layout(
  $justify-content: flex-start,
  $align-items: stretch,
  $flex-direction: row,
  $flex-wrap: nowrap,
  $gap: 0
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  gap: $gap;
}

@mixin grid-layout(
  $columns: none,
  $rows: none,
  $gap: 0,
  $justify-items: stretch,
  $align-items: stretch
) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  gap: $gap;
  justify-items: $justify-items;
  align-items: $align-items;
}

header,
footer,
main {
  width: 100dvw;
  max-width: 1024px;
  padding-inline: 32px;
}

main,
header {
  margin-inline: auto;

  @media (max-width: 575px) {
    margin-inline: unset;
  }
}

main {
  margin-block: var(--size-4);
}
