$themes: (
  light: (
    bg-default: #fbfaee,
    bg-contrast: #f9ecdc,
    bg-inverted: #0a0a0a,
    text-default: #0a0a0a,
    text-p: #333333,
    text-inverted: #fbfaee,
    border: #d9d9d9,
    link: #0b0b0b,
    link-active: #F03A47,
    blockquote-bg: #D2DAD6,
    toc-bg: #F9F3DC
  ),
  dark: (
    bg-default: #0a0a0a,
    bg-contrast: #333333,
    bg-inverted: #fbfaee,
    text-default: #fbfaee,
    text-p: #d9d9d9,
    text-inverted: #0a0a0a,
    border: #333333,
    link: #fbfaee,
    link-active: #F03A47,
    blockquote-bg: #1C221F,
    toc-bg: #110E03
  ),
);

@mixin themify($themes) {
  @each $name, $values in $themes {
    .#{$name} {
      $theme-map: $values !global;
      @content;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
