@import "config";
@import "composed";
@import "theme";
@import "primeicons/primeicons.css";

main {
  width: calc(100dvw - ($page-padding--left / 2) - ($page-padding--right / 2));
  max-width: 1024px;
  margin-block: var(--size-4);
}

.list-container {
  @include flex-layout(flex-start, flex-start, column, nowrap, 1em);
  margin-top: 20px;
  width: 100%;

  h2 {
    font-size: var(--font-size-4);
    font-weight: 500;

    a {
      font-size: 18px;
      text-decoration: underline;
    }
  }
}

@include themify($themes) {
  body {
    background-color: themed(bg-default);
    transition: background-color 0.2s var(--ease-3);
  }

  nav {
    border-bottom: solid var(--border-size-1) themed(border);
  }

  footer {
    border-top: solid var(--border-size-1) themed(border);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: themed(text-default);
  }

  button {
    color: themed(text-default);
    background-color: themed(bg-contrast);

    &.theme-toggle {
      color: themed(text-inverted);
      background-color: themed(bg-inverted);
    }
  }

  a {
    color: themed(link);

    &.router-link-active {
      font-weight: 500;
      color: themed(link-active);
      padding: var(--size-1) var(--size-2);
      background-color: themed(bg-contrast);
      border-radius: var(--radius-2);
    }

    &:hover {
      color: themed(link-active);
    }
  }

  hr {
    color: themed(border);
  }

  ul {
    li {
      color: themed(text-p);
    }
  }

  p,
  span:not(.hljs span),
  time {
    color: themed(text-p);
  }

  .list-item {
    a {
      border-bottom: solid var(--border-size-1) themed(border);
      &:hover {
        color: themed(link);
        background-color: themed(bg-contrast);
      }
    }
  }

  .list-item-long {
    .tags {
      .tag {
        background-color: themed(bg-contrast);
      }
    }
  }

  pre {
    .code-language {
      display: inline-block;
      color: themed(text-p);
      background-color: themed(bg-contrast);
    }
  }

  blockquote {
    border-left: solid 5px #aaa;
    padding: 1em;
    background-color: themed(blockquote-bg);
  }

  .toc {
    background-color: themed(toc-bg);
  }
}
