---
const { headerText } = Astro.props;

interface Props {
  headerText: string;
}
---

<div class="c-header">
  <span> { headerText } </span>
</div>


<style lang="scss">
    .c-header {
        padding: var(--size-1) var(--size-2);
        border-radius: var(--radius-round);
        width: fit-content;
        margin-bottom: 8px;

        span {
            font-weight: 500;
            font-size: var(--font-size-0);
        }
    }
</style>