---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="hero-section">
    <aside>
      <h1>HI!</h1>
    </aside>
    <p>
      I'm Jenrola, a frontend developer based somewhere in Lagos, Nigeria. This
      website is where I showcase everything pertaining to my work, projects,
      studies, writing and explorations. Since 2022, I've helped a handful of
      clients build websites for their brand or business. I continually try to
      improve my craft by studying the works of other talented designers, engineers and artists.
      Altough I primarily work on the frontend of the web, I also have interests in product design, 3D, graphics design and digital art (I can't draw very well).
      I spend my free time reading, playing games, cooking and watching video essays on youtube.
    </p>
  </div>
</Layout>

<style lang="scss">
  @use "../styles/composed" as c;

  .hero-section {
    aside {
      float: left;
      margin-right: 10px;

      h1 {
        font-size: var(--font-size-fluid-3);
      }
    }

    p {
      font-size: var(--font-size-4);
      line-height: var(--font-lineheight-2);
    }
  }
</style>
