---
import Layout from "../layouts/Layout.astro";
import CHeader from "../components/layout/CHeader.astro";
import { Icon } from "astro-icon/components";
import BlogListItem from "../components/blog/BlogListItem.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { ARTICLE_LIMIT } from "../constants";

const allArticles: CollectionEntry<"blog">[] = (
  await getCollection("blog")
).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <div class="hero-section section">
    <CHeader headerText="01 — About " />
    <aside>
      <h1>H</h1>
    </aside>
    <p>
      i! I'm Jenrola, a frontend developer based somewhere in Lagos, Nigeria.
      This website is where I showcase everything pertaining to my work,
      projects, studies, writing and explorations. Since 2022, I've helped a
      handful of clients build websites for their brand or business. Altough I
      primarily work on the frontend of the web, I also have interests in
      product design, 3D, graphics design and digital art (I can't draw very
      well). I spend my free time reading, playing games, cooking and watching
      video essays on youtube.
    </p>
  </div>

  <div class="blog-section section">
    <CHeader headerText="02 — Writing " />
    {
      allArticles
        .slice(0, ARTICLE_LIMIT)
        .map((article) => <BlogListItem {article} />)
    }
    <p>
      <a href="/articles">All articles &rarr;</a>
    </p>
  </div>
</Layout>

<style lang="scss">
  @use "../styles/composed" as c;

  .section {
    width: 100%;
  }

  .hero-section {
    aside {
      float: left;
      margin-right: 4px;

      h1 {
        font-size: 66px;
        line-height: 1;
      }
    }

    p {
      font-size: var(--font-size-2);
      line-height: var(--font-lineheight-2);
    }
  }

  .socials-section {
    .social-links {
      @include c.flex(row, center, flex-start, 1em, nowrap);
      padding-block-start: 4px;

      a {
        font-size: var(--font-size-4);
        display: flex;
        align-items: center;
      }
    }
  }

  .blog-section {
    p {
      margin-top: 8px;
      font-size: var(--font-size-2);
    }
  }

  @media (max-width: 400px) {
    .hero-section {
      p {
        font-size: var(--font-size-2);
      }
    }
  }
</style>
