---
import Layout from "../layouts/Layout.astro";
import CHeader from "../components/layout/CHeader.astro";
import BlogListItem from "../components/blog/BlogListItem.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { ARTICLE_LIMIT } from "../constants";
import SiteHeader from "../components/layout/SiteHeader.astro";
import { Image } from "astro:assets";
import discLight from "../images/disc-light.png";
import discDark from "../images/disc.png";

const allArticles: CollectionEntry<"blog">[] = (
  await getCollection("blog")
).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <SiteHeader />
  <div class="hero-section section">
    <CHeader headerText="01 — About " />
    <aside>
      <h1>H</h1>
    </aside>
    <p>
      i! I'm Jenrola, a frontend developer. This website is where I showcase
      everything pertaining to my work, studies, writing and explorations.
      Although I primarily work on the frontend of the web, I also have
      interests in product design, 3D, graphics design and digital art (I can't
      draw very well). I spend my free time reading, playing games, cooking or
      watching video essays on youtube.
    </p>
  </div>

  <div class="blog-section section">
    <CHeader headerText="02 — Writing " />
    {
      allArticles
        .slice(0, ARTICLE_LIMIT)
        .map((article) => <BlogListItem {article} />)
    }
    <p>
      <a href="/articles">All articles &rarr;</a>
    </p>
  </div>

  <div class="work-section section" x-data x-cloak>
    <CHeader headerText="03 — Projects " />
    <template x-if="$store.theme.state == 'dark'">
      <Image src={discDark} alt="vector wireframe of a disc" />
    </template>
    <template x-if="$store.theme.state == 'light'">
      <Image src={discLight} alt="vector wireframe of a disc" />
    </template>
    <p>Still working on it...</p>
  </div>
</Layout>

<style lang="scss">
  @use "../styles/composed" as c;

  [x-cloak] {
    display: none;
  }

  .section {
    width: 100%;
  }

  .hero-section {
    aside {
      float: left;
      margin-right: 4px;

      h1 {
        font-size: 66px;
        line-height: 1;
      }
    }

    p {
      font-size: var(--font-size-2);
      line-height: var(--font-lineheight-2);
    }
  }

  .socials-section {
    .social-links {
      @include c.flex(row, center, flex-start, 1em, nowrap);
      padding-block-start: 4px;

      a {
        font-size: var(--font-size-4);
        display: flex;
        align-items: center;
      }
    }
  }

  .blog-section {
    p {
      margin-top: 8px;
      font-size: var(--font-size-2);
    }

    a {
      font-size: 14px;
    }
  }

  .work-section {
    img {
      height: 110px;
      width: auto;
    }
  }

  @media (max-width: 400px) {
    .section {
      width: 100%;
    }

    .hero-section {
      p {
        font-size: var(--font-size-2);
      }
    }
  }
</style>
