---
const TABS = [
  {
    name: "Index",
    path: "/",
  },
  {
    name: "Projects",
    path: "/projects",
  },
  {
    name: "Blog",
    path: "/blog",
  },
  {
    name: "Showcase",
    path: "/showcase",
  },
  {
    name: "Bookmarks",
    path: "/bookmarks",
  },
  {
    name: "Shelf",
    path: "/shelf",
  },
];

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1).replace(/\//g, "");
---

<nav>
  <ul class="header__items" role="list">
    {
      TABS.map((tab, index) => (
        <li
          class="header__item"
          id={currentPath === `${tab.path.replace(/\//g, "")}` ? "active" : ""}
        >
          <a class="tab__item" href={`${tab.path}`}>
            {tab.name}
          </a>
        </li>
      ))
    }
  </ul>
  <div aria-hidden class="clip-path-container">
    <ul class="header__items mask" role="list">
      {
        TABS.map((tab, index) => (
          <li class="header__item hidden">
            <a class="mask-link" href={`${tab.path}`}>
              {tab.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<style lang="scss">
  @use "../styles/utils/" as u;

  nav {
    background-color: rgba(26, 26, 26, 0.7);
    width: fit-content;
    margin-inline: auto;
    position: relative;
    z-index: 10;
    @include u.display-flex(column, center, center, 0, nowrap);
    margin-block-start: u.rem(24);
    padding: 8px;
    border-radius: u.rem(4);
    backdrop-filter: blur(u.rem(24));
    border: solid 0.2px var(--color-border-blend);

    .header__items {
      list-style-position: inside;
      position: relative;
      @include u.display-flex(row, center, center, 0, nowrap);
      width: 100%;

      .header__item {
        height: 32px;

        &#active {
          &::after {
            display: inline-block;
            content: "";
            width: 100%;
            height: 2px;
            margin-bottom: u.rem(9);
            background-image: radial-gradient(
              circle at 50% 50%,
              oklch(from #6b6b6b l c h / 80%) 0%,
              transparent 100%
            );
          }
        }

        a {
          padding-inline: u.rem(12);
          text-decoration: none;
          font-weight: 500;
          font-size: u.rem(14);
          display: flex;
          align-items: center;
          height: 100%;
        }
      }
    }

    .clip-path-container {
      position: absolute;
      z-index: 10;
      overflow: hidden;
      visibility: hidden;
      transition: clip-path 0.25s cubic-bezier(0.625, 0.05, 0, 1);

      .header__items.mask {
        .header__item {
          a {
            transition: background 0.2s ease;
            visibility: hidden;
          }
        }
      }
    }

    &:hover {
      .clip-path-container {
        .header__items.mask {
          .header__item {
            a {
              background-color: var(--color-highlight-bg);
              visibility: visible;
            }
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    nav {
      width: calc(100% - 24px);
      overflow-x: scroll;
      overflow-y: hidden;
      scrollbar-width: none;

      &::--webkit-scrollbar {
        display: none;
      }

      .header__items {
        justify-content: flex-start;

        .header__item {
          &#active {
            &::after {
              margin-bottom: u.rem(10);
            }
          }
        }
      }

      .clip-path-container {
        display: none;
      }
    }
  }
</style>

<script>
  const tabItems = document.querySelectorAll<HTMLElement>(".tab__item");
  const container = document.querySelector<HTMLElement>(".clip-path-container");

  let currentTab: HTMLElement, lastIndex: number;

  const init = () => {
    currentTab = tabItems[0];
    setClipPath(currentTab);
  };

  tabItems.forEach((item, index) => {
    item.addEventListener("mouseover", () => {
      container?.classList.remove("ease-out");
      setClipPath(tabItems[index]);
    });
  });

  const setClipPath = (el: HTMLElement) => {
    const { offsetLeft, offsetWidth } = el;
    const clipLeft = offsetLeft;
    const clipRight = offsetLeft + offsetWidth;

    if (container) {
      container.style.clipPath = `inset(0 ${Number(100 - (clipRight / container.offsetWidth) * 100).toFixed()}% 0 ${Number((clipLeft / container.offsetWidth) * 100).toFixed()}% round 4px)`;
      container.style.visibility = "visible";
    }
  };

  init();
</script>
