---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Projects">
  <div class="wrapper has-padding pj">
    <p>Shipping soon...</p>
  </div>
</Layout>

<style lang="scss">
    @use '../../styles/utils/' as u;
    .pj {
        @include u.display-flex(column, center, center, 0, nowrap);

        p {
            font-size: 20px;
            font-style: italic;
        }
    }
</style>
