---
import "../styles/styles.scss";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <div class="vertical-fade" aria-hidden="true" data-side="top"></div>
    <div class="vertical-fade" aria-hidden="true" data-side="bottom"></div>
    <div class="horizontal-fade" aria-hidden="true" data-side="left"></div>
    <div class="horizontal-fade" aria-hidden="true" data-side="right"></div>
    <Nav />
    <slot />
    <Footer />
  </body>
</html>

<style lang="scss">
  @use "../styles/utils/" as u;

  .vertical-fade {
    position: fixed;
    pointer-events: none;
    user-select: none;
    width: 100%;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(1px);
    will-change: transform;

    &[data-side="top"] {
      top: 0;
      height: 100px;
      background: linear-gradient(to top, transparent, var(--color-body-bg));
      mask-image: linear-gradient(to bottom, var(--color-body-bg) 25%, transparent);
    }

    &[data-side="bottom"] {
      height: 100px;
      bottom: 0;
      z-index: 3;
      background: linear-gradient(to bottom, transparent, var(--color-body-bg));
      mask-image: linear-gradient(to top, var(--color-body-bg) 25%, transparent);
    }

    .horizontal-fade {
      ---fade-color: hsla(0, 0%, 100%, 0);
      width: 20vw;
      height: 100%;
      position: fixed;
      bottom: 0;
      z-index: 3;
      opacity: 1;
      min-width: 120px;
      backdrop-filter: blur(4px);
      pointer-events: none;
      user-select: none;

      @include u.breakpoint-down(medium) {
        display: none;
      }

      &[data-side="left"] {
        left: -24px;
        background: linear-gradient(to left, var(---fade-color), var(--color-body-bg));
        mask-image: linear-gradient(to right, var(--color-body-bg), var(---fadeColor));
      }

      &[data-side="right"] {
        right: 0;
        background: linear-gradient(to right, var(---fade-color), var(--color-body-bg));
        mask-image: linear-gradient(to left, var(--color-body-bg), var(---fade-color));
      }
    }
  }
</style>
