---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import ShowcaseItem from "../../components/ShowcaseItem.astro";

const ShowcaseItems: CollectionEntry<"showcase">[] = (await getCollection("showcase"))
  .sort(
    (a: CollectionEntry<"showcase">, b: CollectionEntry<"showcase">) =>
      b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  )
  .filter((post) => !post.data.draft);
---

<Layout title="Showcase">
  <div class="wrapper shc is-full-width has-padding">
    <h1>Component Showcase</h1>
    {ShowcaseItems.map((item) => <ShowcaseItem {item} />)}
  </div>
</Layout>

<style lang="scss">
  @use "../../styles/utils/" as u;
  .shc {
    @include u.display-flex(column, flex-start, flex-start, 0, nowrap);

    h1 {
      font-size: u.rem(24);
      font-style: italic;
    }

    a {
      color: white;
    }
  }
</style>
