---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Showcase">
  <div class="wrapper shc is-full-width has-padding">
    <h1>Component Showcase</h1>
    <a href="/showcase/slider">Go to slider</a>
  </div>
</Layout>

<style lang="scss">
  @use "../../styles/utils/" as u;
  .shc {
    @include u.display-flex(column, flex-start, flex-start, 0, nowrap);

    h1 {
      font-size: u.rem(24);
      font-style: italic;
    }

    a {
      color: white;
    }
  }
</style>
